---
import Layout from '../layouts/Layout.astro'

---
<Layout title="About" seoTitle="About" seoDesc="About me">
    <div class="m-auto w-10/12 mb-3">
        <h1 class="text-5xl mb-3 text-center ">Skills</h1>
        <div role="tablist" class="tabs tabs-lifted  ">
            <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Frontend" checked/>
            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
                <ul class="text-lg list-disc ml-3">
                    <li>React</li>
                    <li>Redux</li>
                    <li>Next.js</li>
                    <div class="divider"></div> 
                    <li>Vue</li>
                    <li>Pinia</li>
                    <li>Nuxt.js</li>
                    <div class="divider"></div> 
                    <li>Javascript/Typescript</li>
                    <li>Tailwind & SCSS</li>
                    <li>Astro</li>
                </ul>
            </div>
            <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Backend"/>
            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
                <ul class="text-lg list-disc ml-3">
                    <li class="my-1">Supabase</li>
                    <li class="my-1">Nest.js</li>
                    <div class="divider"></div> 
                    <li class="my-1">Prisma</li>
                    <li class="my-1">GraphQL</li>
                </ul>
            </div>
            <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Other" />
            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
                <ul class="text-lg list-disc ml-3">
                <li class="my-1">Docker</li>
                <li class="my-1">Postman</li>
                <li class="my-1">Testing(Vitest)</li>
                <li class="my-1">FSD architecture</li>
                <li  class="my-1">Components library(MUI, shadcn, etc)</li>
            </ul></div>
          </div></div>
    
</Layout>