---
import Layout from '../layouts/Layout.astro'
import { Plus } from 'lucide-astro'
---

<Layout title="Projects"
        seoTitle="Projects"
        seoDesc="My projects on GitHub(With React, Next, Vue, Nuxt, Nest.js and others)">
    <div class="w-8/12 lg:w-6/12 mx-auto">
    <h1 class="text-5xl my-2 text-center">Projects</h1>
      <div class="collapse bg-inherit my-5 border-2 ">
        <input type="checkbox" class="peer" /> 
        <div class="collapse-title  peer-checked:bg-indigo-500 peer-checked:text-secondary-content">
            <p class=" text-xl ml-8 mt-1 flex justify-between">Complexity<Plus/></p>
        </div>
        <div class="collapse-content bg-primary  peer-checked:bg-indigo-500 peer-checked:text-secondary-content"> 
            <p class=" ml-8">Vue + DaisyUI + Pinia + Codeforces API</p>
            <p class=" ml-8 mt-5"><a class='underline' target="_blank" href="https://github.com/CatalystoEyes/Complexity">GitHub Repository</a></p>
        </div>
      </div>
      <div class="collapse bg-inherit my-5 border-2 ">
        <input type="checkbox" class="peer" /> 
        <div class="collapse-title  peer-checked:bg-indigo-500 peer-checked:text-secondary-content">
            <p class=" text-xl ml-8 mt-1 flex justify-between">Bytefusion extension<Plus/></p>
        </div>
        <div class="collapse-content bg-primary  peer-checked:bg-indigo-500 peer-checked:text-secondary-content"> 
            <p class=" ml-8">Vue + SCSS + Pinia</p>
            <p class=" mt-5 ml-8"><a class='underline' target="_blank" href="https://github.com/CatalystoEyes/Bytefusion-extension">GitHub Repository</a></p>
        </div>
      </div>
          <div class="collapse bg-inherit my-5 border-2 ">
            <input type="checkbox" class="peer" /> 
            <div class="collapse-title  peer-checked:bg-indigo-500 peer-checked:text-secondary-content">
                <p class=" text-xl ml-8 mt-1 flex justify-between">Nest.js web server<Plus/></p>
            </div>
            <div class="collapse-content bg-primary  peer-checked:bg-indigo-500 peer-checked:text-secondary-content"> 
                <p class=" ml-8">Nest.js, Prisma, GraphQL</p>
                <p class=" mt-5 ml-8"><a class='underline' target="_blank" href="https://github.com/CatalystoEyes/nest-web-server">GitHub Repository</a></p>
            </div>
          </div>
          <div class="collapse bg-inherit my-5 border-2 ">
            <input type="checkbox" class="peer" /> 
            <div class="collapse-title  peer-checked:bg-indigo-500 peer-checked:text-secondary-content">
                <p class=" text-xl ml-8 mt-1 flex justify-between">Advanced ToDo app<Plus/></p>
            </div>
            <div class="collapse-content bg-primary  peer-checked:bg-indigo-500 peer-checked:text-secondary-content"> 
                <p class=" ml-8">React + TailwindCSS + RTK</p>
                <p class=" mt-5 ml-8"><a class='underline' target="_blank" href="https://github.com/CatalystoEyes/AnimeFlix-server-side-app">GitHub Repository</a></p>
            </div>
          </div>
          <div class="collapse bg-inherit my-5 border-2 ">
            <input type="checkbox" class="peer" /> 
            <div class="collapse-title  peer-checked:bg-indigo-500 peer-checked:text-secondary-content">
                <p class=" text-xl ml-8 mt-1 flex justify-between">Pomodoro timer<Plus/></p>
            </div>
            <div class="collapse-content bg-primary  peer-checked:bg-indigo-500 peer-checked:text-secondary-content"> 
                <p class=" ml-8">React + Tauri + TailwindCSS</p>
                <p class=" ml-8 mt-5"><a class='underline' target="_blank" href="https://github.com/CatalystoEyes/pomodoro-timer">GitHub Repository</a></p>
            </div>
          </div>
          
          <a href="https://github.com/CatalystoEyes?tab=repositories" class="mb-5 relative w-fit block after:block after:content-[''] after:absolute after:h-[1px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-left">View more on my GitHub</a>
        </div>
</Layout>
