---

---

<footer class="text-center mt-auto py-4">
    <small class="text-md">Copyright &copy; <span id="copyright"></span> | All rights reserved</small>
</footer>


<script lang="ts">
    document.querySelector('#copyright').textContent = new Date().getFullYear().toString()
</script>